<!DOCTYPE html>
<head>
    <title>성공</title>
</head>
<body>
<h1>전송이 완료되었습니다!</h1>

<h2>메일 제목 : <%= @title %></h2>
<h2>받는 사람 : <%= @email %></h2>
<br>
<h2><메일 내용><br><h2>
<h3><%= @content %></h3>
    
<a href = "/"><br>메인으로 가기</a>
</body>
</html>